@import "~base/skin/skinVariables";

:root {
    --color-primary: #58555A;
    --skin-banner-background-color-2: #111111;
    --skin-header-font: 'Arial,sans-serif';
    --skin-body-font: 'Arial,sans-serif';
}

